#login-buttons{
  margin-top:15px;
  margin-left:20px; 
}
#login-sign-in-link{
  color:white;
  font-family:inherit;
}
#login-sign-in-link:hover{
  text-decoration:none;
}
.bg-info{
  background-color:#333333;
  color:#777777;
}
#charName{
  width:80%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
#charRefresh{
  width:20%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
#charCreate{
  z-index:-50000000;
}
#filler{
  z-index:0;
}
p{
  color:#777777;
}
.checkBox{
  border:1px solid #333333;
  border-radius:5px;
  height:45px;
  width:45px;
  display:inline-block;
  margin-right:15px;
}
.checkBoxBlack{
  border:1px solid #333333;
  border-radius:5px;
  height:45px;
  width:45px;
  display:inline-block;
  margin-right:15px;
  background-color:#333333;
}
.checkBox:hover{
  background-color:#333333;
}
textarea{
  width:100%;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.backDrop{
  background-color:#333333;
  border:2px solid #777777;
  /*border-radius:5px;*/
  padding:5px;
  z-index:5000000;
  color:white;
}
/*a, a:visited{
  text-decoration:none;
  color:inherit;
}
a:hover, a:active{
  text-decoration:none;
}
*/
.bigBox{
  width:80%;
  color:#333333;
  background-color: #777777;
}
.containerBox{
  border:2px solid #333333;
}
.bg-info{
  border:2px solid #777777;
  padding-left: 5px;
}
.slightlySmallerContainerBox{
  border:1px solid #777777;
}
.selected{
  background-color:yellow;
  outline-width: 0;
  border:1px solid #333333;
}
.wellSheetAspect{
  border-radius:0px;
  padding:0px;
  padding-left:2px;
  margin-right:2px;
  margin-left:2px;
  display:inline-block;
}
.count{
  display:inline-block;
  border:1px solid #777777;
}
.wellSheet{
  border-radius:0px;
  padding:0px;
  padding-left:2px;
  margin-right:2px;
  margin-left:2px;
}