<template name="gameCore">
  <div class="col-sm-2">
    <h2 class="bg-info">Dice Log</h2>
    {{#with games}}
      <div id="diceLog">{{diceLog}}</div>
    {{/with}}
  </div>
  <div class="col-sm-10">
    {{#basicTabs name="" tabs=tabs}}
      {{#tabContent slug="game"}}
       {{#each games}}
    		<div class="row">
    		  <h2 class="bg-info">Game Details</h2>
    	  </div>
    	  <div class="row">
    	    Game Name: <input value="{{gameName}}" type="text" id="gameName" class="well well-sm" style="width:100%;"><br>
          Setting/Scale: <textarea value="{{setting}}" rows="5" col="100" type="text" id="gameSetting" class="well well-md"></textArea>
        </div>
        <div class="row">
          <h2 class="bg-info">Issues</h2>
        </div>
        <div class="row">
          Current Issue #1:
          <textarea value="{{currentIssue1}}" rows="2" col="100" type="text" id="gameCurrentIssue1" class="well well-md"></textArea>
    	    Current Issue #2:
    	    <textarea value="{{currentIssue2}}" rows="2" col="100" type="text" id="gameCurrentIssue2" class="well well-md"></textArea>
    	    Impending Issue #1:
    	    <textarea value="{{impendingIssue1}}" rows="2" col="100" type="text" id="gameImpendingIssue1" class="well well-md"></textArea>
    	    Impending Issue #2:
    	    <textarea value="{{impendingIssue2}}" rows="2" col="100" type="text" id="gameImpendingIssue2" class="well well-md"></textArea>
    	  </div>
    	  {{#if isSanic.mode}}
    	    <div class="row">
    	      <h2 class="bg-info">Approaches</h2>
    	    </div>
    	    <div class="row">
            <!--i really don't know what to put here-->
    	    </div>
    	  {{else}}
    	    <div class="row">
    	      <h2 class="bg-info">Skills</h2>
    	    </div>
    	    <div class="row">
            <input value="{{gameSkill1}}" type="text" id="gameSkill1" class="well well-sm">
            <input value="{{gameSkill2}}" type="text" id="gameSkill2" class="well well-sm">
            <input value="{{gameSkill3}}" type="text" id="gameSkill3" class="well well-sm">
            <input value="{{gameSkill4}}" type="text" id="gameSkill4" class="well well-sm">
            <input value="{{gameSkill5}}" type="text" id="gameSkill5" class="well well-sm">
            <input value="{{gameSkill6}}" type="text" id="gameSkill6" class="well well-sm">
            <input value="{{gameSkill7}}" type="text" id="gameSkill7" class="well well-sm">
            <input value="{{gameSkill8}}" type="text" id="gameSkill8" class="well well-sm">
            <input value="{{gameSkill9}}" type="text" id="gameSkill9" class="well well-sm">
            <input value="{{gameSkill10}}" type="text" id="gameSkill10" class="well well-sm">
    	    </div>
    	  {{/if}}
    	  <div class="row">
    	    <h2 class="bg-info">Stunts and Extras</h2>
    	  </div>
    	  <div class="row">
          <textarea value="{{stuntsAndExtras}}" rows="5" col="100" type="text" id="gameStuntsAndExtras" class="well well-md"></textArea>
        </div>
       {{/each}}
      {{/tabContent}}
      
      {{#tabContent slug="gamedials"}}
        {{#each games}}
    	  <div class="row">
    	    <h2 class="bg-info">Dials</h2>
    	  </div>
            <div class="row">
              <div class="col-md-4">
      	        Number of Aspects
      	      </div>
      	      <div class="col-md-8">
      	        <input value="{{numOfAspects}}" type="number" id="gameNumberOfAspects" class="well well-sm"><br>
      	      </div>
      	    </div>
            <div class="row">
              <div class="col-md-4">
      	        Number of Phases
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{ numOfPhases }}" type="number" id="gameNumberOfPhases" class="well well-sm"><br>
      	      </div>
      	    </div>
            <div class="row">
              <div class="col-md-4">
      	        Skill Cap
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{skillCap}}" type="text" id="gameSkillCap" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Pyramid or Columns
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{pyraOrColumn}}" type="text" id="gamePyramidOrColumns" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Number of Columns
              </div>
      	      <div class="col-md-8">
        	      <input value="{{numColumns}}" type="text" id="gameNumberOfColumns" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Refresh Rate
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{refreshRate}}" type="number" id="gameRefreshRate" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Initial Stunts
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{initStunts}}" type="number" id="gameInitialStunts" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Type of Stress Tracks
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{typeStressTracks}}" type="text" id="gameTypeOfStressTracks" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Default Stress Boxes
      	      </div>
      	      <div class="col-md-8">
      	      <input value="{{defaultStressBoxes}}" type="number" id="gameDefaultStressBoxes" class="well well-sm"><br>
      	      </div>
      	    </div>
      	    <div class="row">
              <div class="col-md-4">
                Default Consquence Slots
      	      </div>
      	      <div class="col-md-8">
        	      <input value="{{defaultConsequenceSlots}}" type="number" id="gameDefaultConsequenceSlots" class="well well-sm"><br>
      	      </div>
      	    </div>
      	   {{/each}}
      {{/tabContent}}
      
 	  	{{#tabContent slug="gameaspects"}}
 	  	 {{#each games}}
 	  	   <div class="row">
    	    <h2 class="bg-info">Faces and Places</h2>
    	   </div>
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 1</h4>
    	     <input value="{{gameAspectName1}}" type="text" id="gameFaceName1" class="well well-sm">
    	     <textarea value="{{gameAspectIssue1}}" rows="2" col="100" type="text" id="gameFaceIssue1" class="well well-md"></textArea>
    	   </div>
    	 
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 2</h4>
    	     <input value="{{gameAspectName2}}" type="text" id="gameFaceName2" class="well well-sm">
    	     <textarea value="{{gameAspectIssue2}}" rows="2" col="100" type="text" id="gameFaceIssue2" class="well well-md"></textArea>
    	   </div>
    	 
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 3</h4>
    	     <input value="{{gameAspectName3}}" type="text" id="gameFaceName3" class="well well-sm">
    	     <textarea value="{{gameAspectIssue3}}" rows="2" col="100" type="text" id="gameFaceIssue3" class="well well-md"></textArea>
    	   </div>
    	 
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 4</h4>
    	     <input value="{{gameAspectName4}}" type="text" id="gameFaceName4" class="well well-sm">
    	     <textarea value="{{gameAspectIssue4}}" rows="2" col="100" type="text" id="gameFaceIssue4" class="well well-md"></textArea>
    	   </div>
    	 
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 5</h4>
    	     <input value="{{gameAspectName5}}" type="text" id="gameFaceName5" class="well well-sm">
    	     <textarea value="{{gameAspectIssue5}}" rows="2" col="100" type="text" id="gameFaceIssue5" class="well well-md"></textArea>
    	   </div>
    	 
    	   <div class="faceOrPlace">
    	     <h4 class="bg-info">Entity 6</h4>
    	     <input value="{{gameAspectName6}}" type="text" id="gameFaceName6" class="well well-sm">
    	     <textarea value="{{gameAspectIssue6}}" rows="2" col="100" type="text" id="gameFaceIssue6" class="well well-md"></textArea>
    	   </div>
    	 {{/each}}
 	  	{{/tabContent}}
  
      {{#tabContent slug="characters"}}
        {{#each char}}
          <div class="containerBox">
          	<div class="slightlySmallerContainerBox">
          		<div class="well well-sm wellSheet">
  		    		  Name: {{name}}
          		</div>
	        	<!--THE TEXT AREA IS HERE-->
	        	<textarea class="well well-sm wellSheet" style="width:99.7%" readonly>Description: {{description}}</textarea>
          	</div>
          	<div class="slightlySmallerContainerBox" style="padding-left:5px">
          	  <h2 class="listDesc">Aspects:</h2>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
          			High Concept: {{highConceptAspect}}
          		</div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
          			Trouble: {{troubleAspect}}
          		</div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
          			Aspect 1: {{aspect1}}
          		</div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
          			Aspect 2: {{aspect2}}
          		</div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
          			Aspect 3: {{aspect3}}
          		</div>
          	</div>
          	<div class="slightlySmallerContainerBox">
              <div class="row">
                <h2 style="color:#777777; margin-left:17px">Skills</h2>
              </div>
          	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Superb</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{superbSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{superbSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{superbSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{superbSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{superbSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Great</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Good</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Fair</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Average</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill5}}
    	    	    </div>
    	    	  </div>
    	    	</div>
  		      <div class="slightlySmallerContainerBox">
  		    	  <textarea class="well well-sm wellSheet" style="width:99.7%" readonly>Stunts: {{stunts}}</textarea>
  		        <textarea class="well well-sm wellSheet" style="width:99.7%" readonly>Extras: {{extras}}</textarea>
  		      </div>
  		      <div class="slightlySmallerContainerBox" style="padding-left:5px">
          	  <h2 class="listDesc">Conditions</h2>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
    	    	    Mild Condition 1: {{mildCon1}}
    	    	  </div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
    	    	    Mild Condition 2: {{mildCon2}}
    	    	  </div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
    	    	    Moderate Conditon: {{modCon}}
    	    	  </div>
          		<div class="well well-sm wellSheetAspect" style="padding-left:5px; padding-right:5px; margin-top:17px;">
    	    	    Severe Condition: {{sevCon}}
    	    	  </div>
    	    	</div>
			      <div class="slightlySmallerContainerBox">
			      	<h2 class="bg-info">Physical Stress</h2>
		          <div class="checkBox" id="physicalStressBox1" style="margin-right:10px"></div>
		          <div class="checkBox" id="physicalStressBox2" style="margin-right:10px"></div>
		          <div class="checkBox" id="physicalStressBox3" style="margin-right:10px"></div>
		        	<div class="checkBox" id="physicalStressBox4" style="margin-right:10px"></div>
			       	<h2 class="bg-info">Mental Stress</h2>
			       	<div class="checkBox" id="mentalStressBox1" style="margin-right:10px"></div>
			      	<div class="checkBox" id="mentalStressBox2" style="margin-right:10px"></div>
			      	<div class="checkBox" id="mentalStressBox3" style="margin-right:10px"></div>
			      	<div class="checkBox" id="mentalStressBox4" style="margin-right:10px"></div>
			      	<script>
			      	  $(".checkBox").on("click", function() {
                  $(this).toggleClass('checkBoxBlack');
                });
			      	</script>
			      </div>
          </div>
          <br><br>
        {{/each}}
      {{/tabContent}}
 	  	
 	  	{{#tabContent slug="tools"}}
        Current Skill Value: <input type="number" id="lolol" oninput="Session.set('skillVal', $('#lolol').val() )">
        <button id="dice">
          Calculate
        </button>
        <br><br>
        {{#each userChar}}
      	<div class="slightlySmallerContainerBox">
          <div class="row">
            <h2 style="color:#777777; margin-left:17px">Skills</h2>
          </div>
          	<div class="row">
        	    <div class="col-sm-1"><p class="listDesc">Superb</p></div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{superbSkill1}}
    	   	    </div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{superbSkill2}}
    	   	    </div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{superbSkill3}}
    	   	    </div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{superbSkill4}}
    	   	    </div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{superbSkill5}}
    	   	    </div>
    	   	  </div>
    	   	  <div class="row">
        	    <div class="col-sm-1"><p class="listDesc">Great</p></div>
    	   	    <div class="col-sm-2 well well-sm wellSheet2">
    	   	      {{greatSkill1}}
    	   	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{greatSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Good</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{goodSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Fair</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{fairSkill5}}
    	    	    </div>
    	    	  </div>
    	    	  <div class="row">
          	    <div class="col-sm-1"><p class="listDesc">Average</p></div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill1}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill2}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill3}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill4}}
    	    	    </div>
    	    	    <div class="col-sm-2 well well-sm wellSheet2">
    	    	      {{avgSkill5}}
    	    	    </div>
    	    	  </div>
    	    	</div>
    	    {{/each}}
 	  	{{/tabContent}}
    {{/basicTabs}}
  </div>
</template>

<template name="joinGameTemplate">
  Type in the ID of the game that you want to join!
  <input type="text" id="joinGameId">
  <button id="submitGameId">Join</button>
  <p>Your Games </p><br>
  {{#each userGames}}
    <button style="color:green" id="{{_id}}" onclick="Router.go('/games/' + event.target.id)">Name: {{gameName}}</button>: <button class="delete" id="gameId{{@index}}">{{_id}}</button>
  {{/each}}
</template>